MultiSeguroViagem.Service/Web References/RedeCardHom/KomerciWcf.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KomerciWcf" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IKomerciWcf_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://scommerce.userede.com.br/Redecard.Komerci.External.WcfKomerci/KomerciWcf.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://scommerce.userede.com.br/Redecard.Komerci.External.WcfKomerci/KomerciWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Redecard.Komerci.External.WcfKomerci" />
      <xsd:import schemaLocation="https://scommerce.userede.com.br/Redecard.Komerci.External.WcfKomerci/KomerciWcf.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKomerciWcf_GetAuthorizedCredit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorizedCredit" />
  </wsdl:message>
  <wsdl:message name="IKomerciWcf_GetAuthorizedCredit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorizedCreditResponse" />
  </wsdl:message>
  <wsdl:message name="IKomerciWcf_GetAuthorizedCredit_ExcecaoAmigavelFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Redecard.Komerci.External.WcfKomerci" name="detail" element="q1:ExcecaoAmigavel" />
  </wsdl:message>
  <wsdl:message name="IKomerciWcf_GetAuthorizedDebit_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorizedDebit" />
  </wsdl:message>
  <wsdl:message name="IKomerciWcf_GetAuthorizedDebit_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorizedDebitResponse" />
  </wsdl:message>
  <wsdl:message name="IKomerciWcf_GetAuthorizedDebit_ExcecaoAmigavelFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Redecard.Komerci.External.WcfKomerci" name="detail" element="q2:ExcecaoAmigavel" />
  </wsdl:message>
  <wsdl:message name="IKomerciWcf_VoidTransactionTID_InputMessage">
    <wsdl:part name="parameters" element="tns:VoidTransactionTID" />
  </wsdl:message>
  <wsdl:message name="IKomerciWcf_VoidTransactionTID_OutputMessage">
    <wsdl:part name="parameters" element="tns:VoidTransactionTIDResponse" />
  </wsdl:message>
  <wsdl:message name="IKomerciWcf_VoidTransactionTID_ExcecaoAmigavelFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Redecard.Komerci.External.WcfKomerci" name="detail" element="q3:ExcecaoAmigavel" />
  </wsdl:message>
  <wsdl:message name="IKomerciWcf_ConfirmTxnTID_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmTxnTID" />
  </wsdl:message>
  <wsdl:message name="IKomerciWcf_ConfirmTxnTID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmTxnTIDResponse" />
  </wsdl:message>
  <wsdl:message name="IKomerciWcf_ConfirmTxnTID_ExcecaoAmigavelFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Redecard.Komerci.External.WcfKomerci" name="detail" element="q4:ExcecaoAmigavel" />
  </wsdl:message>
  <wsdl:message name="IKomerciWcf_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="IKomerciWcf_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:message name="IKomerciWcf_Query_ExcecaoAmigavelFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Redecard.Komerci.External.WcfKomerci" name="detail" element="q5:ExcecaoAmigavel" />
  </wsdl:message>
  <wsdl:portType name="IKomerciWcf">
    <wsdl:operation name="GetAuthorizedCredit">
      <wsdl:input wsaw:Action="http://tempuri.org/IKomerciWcf/GetAuthorizedCredit" message="tns:IKomerciWcf_GetAuthorizedCredit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKomerciWcf/GetAuthorizedCreditResponse" message="tns:IKomerciWcf_GetAuthorizedCredit_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKomerciWcf/GetAuthorizedCreditExcecaoAmigavelFault" name="ExcecaoAmigavelFault" message="tns:IKomerciWcf_GetAuthorizedCredit_ExcecaoAmigavelFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizedDebit">
      <wsdl:input wsaw:Action="http://tempuri.org/IKomerciWcf/GetAuthorizedDebit" message="tns:IKomerciWcf_GetAuthorizedDebit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKomerciWcf/GetAuthorizedDebitResponse" message="tns:IKomerciWcf_GetAuthorizedDebit_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKomerciWcf/GetAuthorizedDebitExcecaoAmigavelFault" name="ExcecaoAmigavelFault" message="tns:IKomerciWcf_GetAuthorizedDebit_ExcecaoAmigavelFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="VoidTransactionTID">
      <wsdl:input wsaw:Action="http://tempuri.org/IKomerciWcf/VoidTransactionTID" message="tns:IKomerciWcf_VoidTransactionTID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKomerciWcf/VoidTransactionTIDResponse" message="tns:IKomerciWcf_VoidTransactionTID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKomerciWcf/VoidTransactionTIDExcecaoAmigavelFault" name="ExcecaoAmigavelFault" message="tns:IKomerciWcf_VoidTransactionTID_ExcecaoAmigavelFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmTxnTID">
      <wsdl:input wsaw:Action="http://tempuri.org/IKomerciWcf/ConfirmTxnTID" message="tns:IKomerciWcf_ConfirmTxnTID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKomerciWcf/ConfirmTxnTIDResponse" message="tns:IKomerciWcf_ConfirmTxnTID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKomerciWcf/ConfirmTxnTIDExcecaoAmigavelFault" name="ExcecaoAmigavelFault" message="tns:IKomerciWcf_ConfirmTxnTID_ExcecaoAmigavelFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://tempuri.org/IKomerciWcf/Query" message="tns:IKomerciWcf_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKomerciWcf/QueryResponse" message="tns:IKomerciWcf_Query_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IKomerciWcf/QueryExcecaoAmigavelFault" name="ExcecaoAmigavelFault" message="tns:IKomerciWcf_Query_ExcecaoAmigavelFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKomerciWcf" type="tns:IKomerciWcf">
    <wsp:PolicyReference URI="#BasicHttpBinding_IKomerciWcf_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuthorizedCredit">
      <soap:operation soapAction="http://tempuri.org/IKomerciWcf/GetAuthorizedCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoAmigavelFault">
        <soap:fault use="literal" name="ExcecaoAmigavelFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorizedDebit">
      <soap:operation soapAction="http://tempuri.org/IKomerciWcf/GetAuthorizedDebit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoAmigavelFault">
        <soap:fault use="literal" name="ExcecaoAmigavelFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="VoidTransactionTID">
      <soap:operation soapAction="http://tempuri.org/IKomerciWcf/VoidTransactionTID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoAmigavelFault">
        <soap:fault use="literal" name="ExcecaoAmigavelFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConfirmTxnTID">
      <soap:operation soapAction="http://tempuri.org/IKomerciWcf/ConfirmTxnTID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoAmigavelFault">
        <soap:fault use="literal" name="ExcecaoAmigavelFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Query">
      <soap:operation soapAction="http://tempuri.org/IKomerciWcf/Query" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExcecaoAmigavelFault">
        <soap:fault use="literal" name="ExcecaoAmigavelFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KomerciWcf">
    <wsdl:port name="BasicHttpBinding_IKomerciWcf" binding="tns:BasicHttpBinding_IKomerciWcf">
      <soap:address location="https://scommerce.userede.com.br/Redecard.Komerci.External.WcfKomerci/KomerciWcf.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>