MultiSeguroViagem.Service/Web References/RedeCardHom/KomerciWcf0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://scommerce.userede.com.br/Redecard.Komerci.External.WcfKomerci/KomerciWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Redecard.Komerci.External.WcfKomerci" />
  <xs:element name="GetAuthorizedCredit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Redecard.Komerci.External.WcfKomerci" minOccurs="0" name="request" nillable="true" type="q1:GetAuthorizedCredit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorizedCreditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Redecard.Komerci.External.WcfKomerci" minOccurs="0" name="GetAuthorizedCreditResult" nillable="true" type="q2:CreditAuthorizationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorizedDebit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Redecard.Komerci.External.WcfKomerci" minOccurs="0" name="request" nillable="true" type="q3:GetAuthorizedDebit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorizedDebitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Redecard.Komerci.External.WcfKomerci" minOccurs="0" name="GetAuthorizedDebitResult" nillable="true" type="q4:Authorization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoidTransactionTID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Redecard.Komerci.External.WcfKomerci" minOccurs="0" name="request" nillable="true" type="q5:VoidTransactionTID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoidTransactionTIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Redecard.Komerci.External.WcfKomerci" minOccurs="0" name="VoidTransactionTIDResult" nillable="true" type="q6:Confirmation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmTxnTID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Redecard.Komerci.External.WcfKomerci" minOccurs="0" name="request" nillable="true" type="q7:ConfirmTxnTID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmTxnTIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Redecard.Komerci.External.WcfKomerci" minOccurs="0" name="ConfirmTxnTIDResult" nillable="true" type="q8:Authorization" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Redecard.Komerci.External.WcfKomerci" minOccurs="0" name="request" nillable="true" type="q9:QueryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Redecard.Komerci.External.WcfKomerci" minOccurs="0" name="QueryResult" nillable="true" type="q10:QueryResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>